.contacts-header {
  height: 125px;
  background-color: $midWhite;
  border-bottom: $darkGray rem-calc(1) solid;

  &__top {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem-calc(12);
    padding-bottom: rem-calc(16);
  }
}
