.messages {
  height: 100%;

  header {
    background: $midWhite;
    height: rem-calc(60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    padding: 0 rem-calc(16);
    border-bottom: solid rem-calc(1) $lightGray;
  }

  &__list {
    flex: 1;
    padding: 0 rem-calc(32);
    height: calc(100% - 110px);
    overflow-y: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    background-size: contain;
  }

  &__input {
    height: rem-calc(50);
  }
}
