.welcome {
  background: $midWhite;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  left: 25%;
  right: 0;
  top: 0;
  height: 100vh;
  text-align: center;

  h1,
  h3 {
    max-width: rem-calc(400);
  }

  h1 {
    color: $primaryColor;
  }

  h3 {
    margin-top: rem-calc(16);
    font-weight: normal;
    color: $primaryColor;
  }
}
