$primaryColor: #3b404f;
$secondaryColor: #4c5262;
$darkText: #171b29;
$lightText: #9b9ea6;
$lightWhite: #f0f0f0;
$midWhite: #f8f9fa;
$darkWhite: #dadbde;
$gray: #d1d2d6;
$lightGray: #f7f7f7;
$brightGray: #eeeeee;
$darkGray: rgba(209, 210, 214, 0.5);
$snowFlurry: #e1ffc7;
