.avatar {
  display: flex;
  align-items: center;
  padding-right: rem-calc(10);

  &__image {
    height: rem-calc(48);
    border-radius: 50%;
    margin: 0 rem-calc(12) 0 0;
  }

  &__name {
    padding-left: rem-calc(10);
    color: $darkText;
    font-size: rem-calc(16);
    font-weight: 600;
  }
}
