.chat-input-box {
  display: flex;
  height: 100%;
  align-items: center;
  background: $lightWhite;
  justify-content: space-between;

  &__input {
    width: 100%;
    padding: 0 rem-calc(8);
    input {
      height: rem-calc(35.2);
      border: none;
      border-radius: rem-calc(16);
      width: 100%;
      padding: rem-calc(8) rem-calc(16);
    }
  }
}
