.contact-box {
  background: white;
  display: flex;
  align-items: center;
  padding: rem-calc(10) rem-calc(14) rem-calc(10) rem-calc(24);
  position: relative;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: #f8f8f8;
  }

  &__selected--true {
    background: #f8f8f8;
    border-left: $secondaryColor solid 4px;
    padding-left: rem-calc(20);
  }
  &::after {
    position: absolute;
    bottom: 0;
    right: rem-calc(2);
    left: 23%;
    content: "";
    background-color: $gray;
    opacity: 0.5;
    height: rem-calc(1);
  }

  &__section {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  &__title {
    color: #171b29;
    font-size: rem-calc(16);
    font-weight: 600;
  }

  &__time {
    color: rgba(0, 0, 0, 0.45);
    font-size: rem-calc(12);
    padding-right: rem-calc(5);
  }

  &__message {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: $lightText;
    font-size: rem-calc(13.5);
    font-weight: lighter;
  }
}
