.filter-select {
  width: 60%;
  padding: rem-calc(10.4);
  border-color: $darkWhite;
  border-radius: rem-calc(8);
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url(../assets/arrow.png) no-repeat right white;
  background-position-x: 95%;
  color: $primaryColor;
}
