.follow-up-button {
  width: 35%;
  background-color: white;
  border: rem-calc(2) solid $secondaryColor;
  color: $secondaryColor;
  border-radius: rem-calc(8);
  padding: rem-calc(9.6);
  cursor: pointer;
}
