.message-box {
  color: black;
  clear: both;
  line-height: rem-calc(18);
  font-size: rem-calc(15);
  padding: rem-calc(8);
  position: relative;
  margin: rem-calc(8) 0;
  max-width: 60%;
  word-wrap: break-word;

  &::before {
    position: absolute;
    left: rem-calc(-10);
    top: 0;
    content: "";
    display: block;
    border: solid;
    border-width: 0px rem-calc(16) rem-calc(16) 0px;
    border-color: transparent;
    border-right-color: $brightGray;
  }

  &.received {
    background: $brightGray;
    border-radius: 0px rem-calc(5) rem-calc(5) rem-calc(5);
    align-self: flex-start;
  }

  &.sent {
    background: $snowFlurry;
    border-radius: 5px 0px 5px 5px;
    align-self: flex-end;
    &::before {
      left: auto;
      right: -28px;
      border-width: 0px 16px 16px 16px;
      border-color: transparent;
      border-left-color: $snowFlurry;
    }
  }

  &__metadata {
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
  }

  &__date {
    color: $darkText;
    font-size: 11px;
    display: inline-block;
  }
}
