.new-chat-button {
  button {
    border: none;
    background-color: $secondaryColor;
    padding: rem-calc(8);
    border-radius: rem-calc(8);
    width: rem-calc(37);
    cursor: pointer;

    svg {
      path,
      g {
        stroke: white;
        fill: white;
      }
    }
  }
}
