.search {
  background: $lightGray;
  display: flex;
  align-items: center;
  padding: rem-calc(16) rem-calc(12);
  width: calc(100% - 50px);

  input {
    border: none;
    border-radius: rem-calc(8);
    border: rem-calc(1) solid $darkWhite;
    width: 100%;
    padding: rem-calc(12) rem-calc(16);
  }

  input[type="text"] {
    background-image: url(../assets/search.svg);
    background-repeat: no-repeat;
    background-size: rem-calc(24);
    background-position: rem-calc(8) rem-calc(8);
    padding-left: rem-calc(32);
  }
}
