@import "./assets/scss";
@import "./containers";
@import "./components";

.app {
  display: flex;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;

  &__left {
    width: 32%;
    border-right: $darkGray rem-calc(1) solid;
  }

  &__right {
    width: 68%;
  }
}

button,
select,
input {
  &:focus {
    outline: none;
  }
}
